@xLabel: ~"@{css-prefix}xLabel";
.@{xLabel} {
  float: left;
  line-height: 35px;
  margin-top: 0;
  &-name,
  &-num {
    float: left;
    text-align: center;
    font-size: 14px;
  }
  &-num {
    .labelBox
  }
}
