.circleBar {
  margin: 5px;
}

#caseVerteClaire {
  background-color: transparent;
  height: 140px;
  width: 150px;
  padding-top: 10px;
  float: left;
  position: relative;
}

#caseVerteClaire #load {
  color: white;
  font-family: calibri;
  text-align: center;
  position: absolute;
  top: 42px;
  left: 42px;
  font-size: 18px;
}

#tranform {
  position: absolute;
  top: 85px;
  left: 30px;
}

#transform1 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 15px;
  opacity: 0;
  animation: transform 4s infinite;
  -webkit-animation: transform 4s infinite;
}

#transform2 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 54px;
  opacity: 0;
  animation: transform 4s infinite;
  -webkit-animation: transform 4s infinite;
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

#transform3 {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 85px;
  left: 94px;
  opacity: 0;
  animation: transform 4s infinite;
  -webkit-animation: transform 4s infinite;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@-webkit-keyframes transform {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.timeline {
  text-align: center;
  line-height: 57px;
  width: 96px;
  height: 57px;
  background-image: url(../../../static/images/yyzx/time_off.png);
  color: white;
  font-weight: normal;
  font-size: 10px;
  cursor: pointer;
}

.timeline:hover {
  color: #33ffff;
}

.timeline-jjyx-btn {
  width: 12px;
  height: 12px;
  float: left;
  margin-left: 44px;
  margin-top: 12px;
  background-image: url(../../../static/images/zhfx/yearbtn.png);
  cursor: pointer;
}

.timeline-jjyx-btn:hover {
  background-image: url(../../../static/images/zhfx/yearbtn_s.png);
}

.timeline-jjyx-btn-s {
  width: 12px;
  height: 12px;
  float: left;
  margin-left: 44px;
  margin-top: 12px;
  background-image: url(../../../static/images/zhfx/yearbtn_s.png);
  cursor: pointer;
}

.timeline-jjyx-back {
  width: 326px;
  height: 47px;
  background-image: url(../../../static/images/zhfx/timeline.png);
}

.fzgm-legend {
  width: 125px;
  height: 140px;
  border-width: 0px;
}

.fzgm-legend tr {
  width: 62px;
  height: 20px;
  border-width: 0px;
}

.fzgm-legend div {
  width: 45px;
  height: 20px;
  border-width: 0px;
}

.yyzx_scjj:hover {
  background-color: #35d6ea;
  cursor: pointer;
}

.scjj_uimarker:hover {
  border: solid 1px #33ffff;
  cursor: pointer;
}

.jcss_legend_table {
  border: 0;
}

/*.jcss_legend_tr:hover{
  background-image:url(../../../static/images/yyzx/jcss_legend_tr.png);
  background-repeat:repeat-y;
  background-size:100% 100%;
  cursor: pointer;
}*/
.jcss_legend_td {
  border: 0;
  color: #fff;
  padding: 3px;
  margin-left: 10px;
}

.jcss_legend_td:hover {
  background-image: url(../../../static/images/yyzx/jcss_legend_tr.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}

.jcss_gjname {
  margin-left: 42px;
  width: 100%;
  height: 25px;
}

.jcss_img {
  float: left;
  margin-top: 1px;
  cursor: pointer;
  width: 43px;
  height: 12px;
}

.jcss_img_side {
  width: 11px;
  height: 2px;
  margin-bottom: 4px;
  display: inline-block;
}

.jcss_img_mid {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 6px;
  display: inline-block
}

